################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/project2/FileContentIndex
/.vs/project2/v17
/.vs
/client_files/receivedFile.txt
/.gitignore
/.gitignore
